{% for project in projects %}
  <h2>{{ project.name | upper }}</h2>
  <div class="owl-carousel owl-theme carousel-{{ project.name }}">
    {% for img in project.images %}
      <div class="item">
        <img src="{{ img }}" alt="Image for {{ project.name }}" loading="lazy">
      </div>
    {% endfor %}
  </div>
{% endfor %}
