    <header>
      <div class="glass3d">
        <h1>Deva Projects</h1>
        <p class="tagline">Built on Trust, Crafted with Precision
        </p>
      </div>
    </header>

   <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#latest-projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>