<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="https://devaprojects.com.au/" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1HYQ5W9XV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z1HYQ5W9XV');
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deva Projects | Custom Home Builders in Sydney</title>
    <meta name="description" content="Deva Projects delivers high-quality, on-time construction with transparency and craftsmanship across Sydney.">
    <meta name="keywords" content="construction Sydney, home builder, renovation, Deva Projects, precision building, Sydney builder">
    <meta property="og:title" content="Deva Projects">
    <meta property="og:description" content="Built on Trust, Crafted with Precision. Discover our construction services across Sydney.">
    <meta property="og:image" content="https://devaprojects.com.au/static/projects/p1/p1_1.webp">
    <meta property="og:url" content="https://devaprojects.com.au">
    <meta name="twitter:card" content="summary_large_image">
   
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Deva Projects",
      "url": "https://devaprojects.com.au",
      "telephone": "+61 1300 00 3382",
      "email": "info@devaprojects.com.au",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "NSW",
        "addressCountry": "Australia"
      },
      "description": "Precision-driven construction company in Sydney focused on trust, quality, and on-time delivery.",
      "image": "https://devaprojects.com.au/static/projects/p1/p1_1.webp"
    }
    </script>
  </head>
  <body>
    {% include "header.njk" %}
    <main>
    {{ content | safe }}
    </main>
    <footer>
      <p>&copy; 2025 Deva Projects Pty Ltd. All rights reserved.</p>
    </footer>
    
  </body>
</html>
