body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;

    color: #333;
}

h1 {
    display: inline-block;
    margin-bottom: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    font-size: clamp(2.5rem, 6vw, 4em);
    color: #20275B;
    text-decoration: underline;
}

a {
    color: #20275B;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #4A5ACF;
    /* A lighter, inviting blue for hover */
}



/* @media (max-width: 600px) {
    h1 {
        font-size: clamp(1.5rem, 8vw, 3em);
    }
} */



header {
    /* background-color: #2e3a59; */
    background: url('https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?q=80&w=1750&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center / cover;
    color: white;
    padding: 40px;
    text-align: center;
}

@media (max-width: 600px) {
    header {
        padding: 15px;
    }
}

.tagline {
    display: block;
    margin: auto;
    width: max-content;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 3vw, 1.2em);
    font-weight: bold;
    background-color: #20275B;
    color: #D4AF3F;
    padding: 4px 70px;
    margin-top: 0.2em;
    /* border-radius: .9em; */
}

@media (max-width: 600px) {
    .tagline {
        background-color: transparent;
        color: #20275B;
        font-weight: bolder;
        padding: 4px 12px;
        font-size: clamp(0.8rem, 4vw, 1em);

    }
}

nav {
    background-color: #20275B;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #666;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #1A2238;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}


.glass3d-container {
    /* position: relative; */
    background-color: aqua;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
}


.glass3d {
    padding: 40px;
    border-radius: 25px;
    --filter-glass3d: blur(15px) brightness(1.12) saturate(1.9);
    --color-glass3d: hsla(228, 49%, 15%, 0);
    --noise-glass3d: url("https://www.transparenttextures.com/patterns/egg-shell.png");

    position: relative;
    z-index: 4;
    box-shadow:
        0 0 0.75px hsl(205 20% 10% / 0.2),
        0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1),
        1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1),
        2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1),
        3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1),
        6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1),
        8px 9px 14px -2.5px hsl(205 20% 10% / 0.2);
}

@media (max-width: 600px) {
    .glass3d {
        padding: 0px;
    }
}

.glass3d::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
    z-index: 3;

    -webkit-backdrop-filter: var(--filter-glass3d);
    backdrop-filter: var(--filter-glass3d);
    background-color: var(--color-glass3d);
    background-image: var(--noise-glass3d);
    background-size: 100px;
    background-repeat: repeat;
}

.glass3d::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
    z-index: 5;

    box-shadow:
        inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8),
        inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3),
        inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15),
        inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03),
        inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03);
}

.glass3d>* {
    position: relative;
    z-index: 6;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}